{% extends "base.html" %}
{% block title %}Вход на сайт{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-5 col-md-7">
    <div class="card shadow-lg mt-4">
      <div class="card-body p-4">
        <h2 class="mb-4 text-center"><i class="bi bi-lock"></i> Вход на сайт</h2>
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Пароль доступа</label>
            <input name="password" type="password" class="form-control" required autofocus maxlength="32">
          </div>
          <button class="btn btn-primary w-100"><i class="bi bi-arrow-right-circle"></i> Войти</button>
        </form>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}
